
<div class="col-sm-8 blog-main">
  
  <h2><%= @blog.title %></h2>
  
   <%= render 'blog_breadcrumb' %>

  <p>
    <%= markdown @blog.body %>
  </p>
  
  <%= render 'comments/comment_form' %>
  <!--Start of comment-->
  <div id="comments" data-blog-id="<%=@blog.id %>">
    <%= render @blog.comments %>
  </div>
  <!--End of comment-->
  
</div><!-- /.blog-main -->
