
<div class="col-sm-8 blog-main">
  
  <h2><%= @blog.title %></h2>
  
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin)  %><br>
  <%= link_to 'Back', blogs_path %>
  
  <p>
    <%= @blog.body %>
  </p>
  
  <%= render 'comments/comment_form' %>
  <!--Start of comment-->
  <%= render @blog.comments %>
 
  <!--End of comment-->
  
  
</div><!-- /.blog-main -->
