<%= form_for(portfolio) do |f| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows: 13%>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md-12">
    <h2>Technology Used</h2>
    <div>
      <%= f.fields_for :technologies do |tech| %>
        <div class="form-group"> 
          <%= tech.label :name %>
          <%= tech.text_field :name, class: "form-control" %>
        </div>
      <% end %>
    </div>  
  
    <div class="form-group">
      <%= f.submit "Save Portfolio Item", class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
