<tr>
        <td><%= link_to portfolio.title, portfolio_show_path(portfolio) %></td>
        <td><%= portfolio.subtitle %></td>
        <td><%= portfolio.body %></td>
        <td><%= image_tag portfolio.main_image unless portfolio.main_image.nil? %></td>
        <td><%= image_tag portfolio.thumb_image unless portfolio.thumb_image %></td>
        <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
        <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>