<p id="notice"><%= notice %></p>

<h1>Portfolios</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Body</th>
      <th>Main iamge</th>
      <th>Thumb image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @angular_portfolio_items.each do |portfolio| %>
      <tr>
        <td><%= link_to portfolio.title, portfolio_show_path(portfolio.id) %></td>
        <td><%= portfolio.subtitle %></td>
        <td><%= portfolio.body %></td>
        <td><%= image_tag portfolio.main_image unless portfolio.main_image.nil? %></td>
        <td><%= image_tag portfolio.thumb_image unless portfolio.thumb_image %></td>
        <td><%= link_to 'Show', portfolio %></td>
        <td><%= link_to 'Edit', edit_portfolio_path(portfolio)  if logged_in?(:site_admin)%></td>
        <td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio', new_portfolio_path if logged_in?(:site_admin) %>
