
<p id="notice"><%= notice %></p>
<%= image_tag @portfolio.main_image unless @portfolio.main_image.nil? %>
<h1>
  <%= @portfolio.title %>
</h1>

<em>
  <%= @portfolio.subtitle %>
</em>

<p>
  <%= @portfolio.body %>
</p>

<H2>Technologies Used:</H2>
<% @portfolio.technologies.each do |t| %>
  <p><%= t.name %></p>
<% end %>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
<hr>

