<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <mega name="keywords" content=<%= @seo_keywords %> />
    
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolio_nav'%>
   
    
    <!--Start of masterhead-->
    <%= render 'shared/portfolio_masterhead' unless logged_in?(:site_admin) && !(params[:action]=="index") %>
    <!--End of masterhead-->
   
    <%= yield %>
    
    
    
    <%= render 'shared/portfolio_footer' %>
    <%= alerts %>
    <!--Footer-->
   <%= source_helper("portfolio") %>
   
  </body>
</html>
